# Git
.git
.gitignore

# Node.js (not needed for API)
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
# Include the UI in build context, but ignore heavy/generated folders
ui/node_modules
ui/dist
ui/.angular

# Go
server/tmp
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.local
.env.production
